DATABASE_URL=postgresql://postgres:postgres@localhost:5432/code_snippets
AUTH_DRIZZLE_URL=postgresql://postgres:postgres@localhost:5432/code_snippets
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/
